<div id='categories'>
  <h1>Categories</h1>

  <% @groups.each do |group| %>
    <%= link_to '/payments', :action => 'go' do %>
      <div class='category'>
        <p><%= group.icon %></p>
        <p><%= group.name %></p>
      </div>
    <% end %>
  <% end %>

  <%= link_to 'create new category', '/groups/new' %>
</div>