// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "font-awesome";

@font-face {
  font-family: 'FontsFree-Net-FontsFree-Net-Proxima-Nova-Bold';
  src: url('/assets/fonts/FontsFree-Net-FontsFree-Net-Proxima-Nova-Bold.ttf');
}

$main-color: #3778c2;
$second-color: #5fb523;
$text-color: #434b54;

#categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'FontsFree-Net-FontsFree-Net-Proxima-Nova-Bold';
}

#groups_new {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  display: flex;
  border: 1px solid gray;
  padding: 0.5rem;
  justify-content: space-between;
  background-color: white;
  margin: 1rem 0 0;

  p {
    margin: 0 1rem;
  }
}

.category_link {
  width: 95%;
  text-decoration: none;
}

.icon,
.name_date {
  color: gray;
}

.icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

.name_date {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin: 0.5rem 0;
  }
}

.total_amount {
  display: flex;
  align-items: center;
  color: black;
}

.nav_categories {
  background-color: $main-color;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem;
}

.fa-bars,
.fa-search {
  width: 3rem;
}

.new_category_border {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 174, 2);
  width: 100%;
  height: 6rem;
  margin: 2rem 0 0 0;
  font-size: 2rem;
}

.new_category {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 1rem 6rem;
}

.groups_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3778c2;
  padding: 1rem 1rem;
}

.submit {
  color: rgba(255, 255, 255, 0.826);
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  cursor: pointer;
}

.category_inputs {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.category_inputs input {
  padding: 1rem;
}
